* {
	font-family: Helvetica, Arial, sans;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 175%;
}

section {
	border: 1px solid black;
	background-color: #bbbbbb;
	float: left;
	margin-top: 20px;
	position: relative;
}

.menutag {
	border: 1px solid black;
	padding: 8px;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	width: 33%;
	/* I think just floating it to the right is cleaner than absolute position + padding, but the instructions require absolute positioning
	float: right;
	*/
	position: absolute;
	top:0;
	right: 0;
	border-top: 0px;
	border-right: 0px;
}

#pink_tag {
	background-color: pink;
}

#red_tag {
	background-color: red;
	color: white;
}

#yellow_tag {
	background-color: yellow;
}

.lorem_text {
	clear: right;
	padding: 8px;
	padding-top: 50px;  /* To make space for the missing absolutely positioned tag */
}

.container {
	margin-top: 20px;
}

/*** Desktop ***/
@media (min-width: 992px) {
	.item-desktop-3 {
		width: 30%;
	}
	section {
		margin-left: 2.5%; /*** Magical number - three margins left, and we want one to remain on the right. 10/4 is 2.5 **/
	}
}

/*** Tablet ***/
@media (min-width: 768px) and (max-width: 991px) {
	.item-tablet-6 {
		width: 45%;
	}
	.item-tablet-12 {
		width: 93.66%;
	}
	section {
		margin-left: 3.33%; /*** Magical number - two margins left, and we want one to remain on the right. 10/3 is 3.33 **/
	}
}

/*** Mobile device ***/
@media (max-width: 767px) {
	.item-mobile-12 {
		width: 94%;
	}
	section {
		margin-left: 3% /*** Magical number - one margin left, and we want one to remain on the right. (100-94)/2 is 3 **/
	}
}