* {
	font-family: Helvetica, Arial, sans;
	box-sizing: border-box;
}

h1 {
	text-align: center;
	font-size: 175%;
}

.container {
	padding-top: 20px;
}

.item {
	float: left;
	padding: 10px;
	width: 100%;
}

.itembox {
	border: 1px solid black;
	background-color: #dddddd;
	position: relative;
	padding: 10px;
}

.menutag {
	border: 1px solid black;
	padding: 8px;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	width: 150px;
	position: absolute;
	top:0;
	right: 0;
	border-top: none;
	border-right: none;
}

#pink_tag {
	background-color: pink;
}

#red_tag {
	background-color: red;
	color: white;
}

#yellow_tag {
	background-color: yellow;
}

.lorem_text {
	padding: 8px;
	padding-top: 50px;
}


/*** Desktop ***/
@media (min-width: 992px) {
	.item-desktop-3 {
		width: 33.33%;
	}
}

/*** Tablet ***/
@media (min-width: 768px) and (max-width: 991px) {
	.item-tablet-6 {
		width: 50%;
	}
	.item-tablet-12 {
		width: 100%;
	}
}
