* {
	font-size: 16px;
}


.navbar {
	background-color: #e3f2fd;
}


#brand-h1 {
	color: #000033;
	font-weight: bold;
}

.navbar-nav .nav-item {
	text-align: center;
	color: #000033;
	font-weight: bold;
}

h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.j-section {
	background-color: #e3f2fd;
	margin-bottom: 15px;
	height: 1000px;
}

.j-section-title {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}


.j-section-description {
	padding-left: 15px;
	padding-right: 15px;
}